<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> <!-- Botón para abrir el menú -->
    </ion-buttons>
    <ion-title>Social</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Botón de login -->
  <ion-button (click)="loginWithGithub()" *ngIf="!user">
    <ion-icon name="logo-github"></ion-icon>
    Iniciar sesión con GitHub
  </ion-button>

  <!-- Información del usuario -->
  <div *ngIf="user" class="user-info">
    <ion-avatar>
      <img [src]="user.photoURL" alt="Foto de perfil" />
    </ion-avatar>
    <h2>{{ user.displayName }}</h2>
    <p>{{ user.email }}</p>
    <ion-button (click)="logout()">Cerrar sesión</ion-button>
  </div>
</ion-content>