<!-- Contenedor principal -->
<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Burger App</ion-title>
      
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    
      <ion-buttons slot="end"> 
        <ion-button routerLink="/funcionalidades"> 
          <ion-icon size="large" name="arrow-forward-circle-outline"></ion-icon> 
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <h1 class="tittle">Comprar Hamburguesa</h1>

    <h5 class="text">Selecciona una Hamburguesa</h5>
    <app-burger-type (saborSeleccionado)="recibirSabor($event)"></app-burger-type>

    <h5 class="text">Selecciona la cantidad</h5>
    <app-burgers-number (cantidadSeleccionada)="recibirCantidad($event)"></app-burgers-number>

    <h5 class="text">Complementos: </h5>  
    <app-burger-complements (extrasSeleccionados)="recibirExtras($event)"></app-burger-complements>

    <h5 class="text">Tipo de pago</h5>
    <app-pay-type (metodoPagoSeleccionado)="recibirMetodoPago($event)"></app-pay-type>

    <div class="button">
      <ion-button (click)="calcular()" shape="round">Calcular</ion-button>
    </div>

    <h4 class="text">Total a pagar: {{total2 }} </h4>

    <!-- Contenedor del botón de PayPal -->
    <div style="padding:9px; ">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>

  </ion-content>
</div>
